#section-bck {
  max-width: 1152px;
  margin: auto;
  height: 493px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: scroll;
  border-radius: 8px;
  margin-top: 20px;
  position: relative;
}
#section-bck img {
  width: 1152px;
  height: 493px;
  border-radius: 8px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #878787;
}
#section-bck:hover .overlay {
  opacity: 0.05;
}
